body {
  background-image: url(./imagenes/©Flavia-Rossi_Cinema-Troisi_001-Copia-1024x814.jpg);  
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  h1{
    color: red;
    padding: 1rem;
    text-align: center;
    font-size: 40px;
  }
  
  header {
    color: rgb(205, 117, 11);
    padding: 1rem;
    text-align: center;
    font-size: 20px;
    display: flex;
    border: 1px solid #f0ecea;
    border-radius: 8px;
    margin: 1rem;
    background-color: gray;
    
  }
  
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
  }
  
  .movie-card {
    border: 1px solid #f0ecea;
    border-radius: 8px;
    margin: 1rem;
    padding: 1rem;
    width: 300px;
    color: #161615;
    background-color: gray;
    font-size: 15px;;
  }
  .estiloimg {
    display: flex;
    text-align: justify;
    width: 250px; 
    height: 250px; 
    max-height: 250px; 
    object-fit: cover; 
    border-radius: 8px;
    transition: transform 2s ease-in-out;
  }
  .estiloimg:hover {
    transform: rotateY(180deg); /* Ajusta el ángulo según tus preferencias */
  }
  
  